[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotly = "*"
scipy = "*"
streamlit = "*"
pandas = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
