[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotly = "*"
scipy = "*"
streamlit = "*"
sund = {file = "https://www.isbgroup.eu/sund-toolbox/releases/sund-1.2.22.tar.gz"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
